/* src/assets/Header.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.App-header p {
  font-size: 1.5em;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav-list a:hover {
  border-bottom: 2px solid white;
}
